<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Retail Management System</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Effortless Retail,Unmatched Management </h1>
            <h1> Your Store's Success Starts Here!",</h1>
    </header>

    <!-- Main Content -->
    <section>
        <h2>
            <center>Welcome to the Arish's Retail Store</center></h2>
        <!-- Add buttons or other elements -->
        <div class="menu">
            <button onclick="location.href='#'">Employees</button>
            <button onclick="location.href='#'">Suppliers</button>
            <button onclick="location.href='#'">Categories</button>
            <button onclick="location.href='#'">Products</button>
            <button onclick="location.href='#'">Sales</button>
            <button onclick="location.href='#'">Exit</button>
        </div>
    </section>

    <!-- Add more HTML content here -->

    <!-- Link to the JS file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
